@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.chat-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.chat-window {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.chat-message {
  margin-bottom: 10px;
}

.user-message {
  font-weight: bold;
  color: #333;
}

.bot-message {
  color: #555;
}

.message-input {
  width: calc(100% - 90px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.send-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.loading-spinner {
  text-align: center;
  margin: 10px 0;

}
.prompt-card{
  transition-duration: .3s;
}
.prompt-card:hover{
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.btn-copsify{
  background: rgba(1, 33, 105, 0.79);
  border-radius: 6px;
}
.btn-login-primary{
  width: 50%;
  border-radius: 5px;
  border: none;
  border: 1px solid #083087;
  background-color: #083087;
  color: white;
}
.border-login-primary{
  border: 2px solid #083087;
  border-radius: 10px;
}
.otp-container {
  text-align: center;
}

.otp-input input {
  width: 60px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.otp-input input {
  width: 60px;
  height: 60px;
}

@media (max-width: 576px) {
  .otp-input input {
    width: 40px;
    height: 40px;
  }
}